.home-screen{
    min-height: 90vh;
    width: 100%;
}
.filters{
    min-height: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-top: .03rem solid rgb(223, 217, 217);
    background-color: #202020;
    
   .selected{
       color: white;
    text-decoration: underline;
    
    }
    button{
        margin: 0 .5rem;
        padding: .3rem 1rem;
        border-radius: 1rem;
        font-size: 1.8rem;
        font-weight: bold;
        background-color:  #202020;
        color: rgb(173, 173, 173);
        border: none;
        cursor: pointer;
        transition: .2s ease-in-out;
    }
    button:hover{ 
        color: white;
        transition: .2s ease-in-out;
    }
}
.movie-list{
    min-height: 82vh;
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    display: grid;
    gap:2rem;
    grid-auto-rows: 49rem;
    grid-template-columns: repeat(auto-fill, minmax(  22rem, 1fr));
}
.movie-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 .5rem 0;
    border: .1rem solid  rgba(59, 54, 54, 0.616);
    background-color:#202020;
    color: white;
    .image-container{
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .title{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .description{
        text-align: center;
        font-size: 1.5rem;
        padding: 0 .5rem 1rem .5rem;
    }
}
@media screen and (max-width: 842px){
    .filters{
        flex-wrap: wrap;
        padding: .5rem 0;
        button{
            font-size: 1.5rem;
            margin: .5rem;
        }
    }
    .movie-list{
        
        grid-auto-rows: 65rem;
        grid-template-columns: repeat(auto-fill, minmax(  17rem, 1fr)); 
      .title{
          font-size: 2.5rem;
      }
      .description{
          font-size: 2rem;
      }
    }
}