@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Marvel', sans-serif;
}
